<div class="grid lg:grid-cols-2">
  <div>
  <div>
    <h2 class="font-semibold text-3xl my-4">Features</h2>
    <p>Lear how TODO app changes your daily life, making it most productive app you use.
    </p>
  </div>
  <div class="grid sm:grid-cols-2">
  <div class="mt-6 mx-4">
  <h3 class="font-semibold">Stay organized</h3>
  <p class="text-gray-700 mt-2 text-sm">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere nisi qui, laborum itaque esse voluptate dolor doloremque? Nemo ducimus nesciunt esse saepe.</p>
  </div>
  <div class="mt-6 mx-4">
  <h3 class="font-semibold">Easy to use</h3>
  <p class="text-gray-700 mt-2 text-sm">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere nisi qui, laborum itaque esse voluptate dolor doloremque? Nemo ducimus nesciunt esse saepe.</p>
  </div>
  <div class="mt-6 mx-4">
  <h3 class="font-semibold">Work with teams</h3>
  <p class="text-gray-700 mt-2 text-sm">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere nisi qui, laborum itaque esse voluptate dolor doloremque? Nemo ducimus nesciunt esse saepe.</p>
  </div>
  <div class="mt-6 mx-4">
  <h3 class="font-semibold">Work on multiple platforms</h3>
  <p class="text-gray-700 mt-2 text-sm">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere nisi qui, laborum itaque esse voluptate dolor doloremque? Nemo ducimus nesciunt esse saepe.</p>
  </div>
  </div>
  </div>
  <div class="ml-10 mt-10">
    <%= image_tag 'illustrations/mobile_view.svg', class:"w-full" %>
  </div>
</div>