<div class="md:hidden">
  <!-- Mobile menu button-->
  <button
    class="inline-flex items-center justify-center p-1 mr-2 rounded-md text-gray-900 hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white"
    x-model="isSidebarActive"
    @click="isSidebarActive = !isSidebarActive"
  >
    <svg
      class="block h-4 w-4"
      stroke="currentColor"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16M4 18h16"
      />
    </svg>
  </button>
</div>
