<nav class="navbar is-danger is-size-4" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <span class="icon">
        <ion-icon name="checkbox"></ion-icon>
      </span>
      <strong>
        TODO
      </strong>
    </a>
  </div>
  <div id="navbarTop" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Searchbox Here
      </a>
    </div>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <span class="icon is-large">
        <ion-icon name="add-circle-sharp"></ion-icon>
      </span>
      <span class="icon is-large">
        <ion-icon name="notifications"></ion-icon>
      </span>
      <span class="icon is-large">
        <ion-icon name="settings-sharp"></ion-icon>
      </span>
    </div>
  </div>
  </div>
</nav>