<ul>
  <li>
    <span class="icon is-large">
      <ion-icon name="settings-sharp"></ion-icon>
    </span>
    <span>
      Main
    </span>
  </li>
  <li>
    <span class="icon is-large">
      <ion-icon name="calendar-outline"></ion-icon>
    </span>
    <span>
      Today
    </span>
  </li>
  <li>
    <span class="icon is-large">
      <ion-icon name="settings-sharp"></ion-icon>
    </span>
    <span>
      Weeks
    </span>
  </li>
</ul>